header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .logo>img {
    width: 80px;
    margin-left: 60px;
  }
  
  nav ul {
    list-style: none;
    margin-right: 60px;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  nav li {
    cursor: pointer;
    margin-left: 30px;

  }
  
  nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.2s ease-in-out;
  }
  
  li:hover {
    color: #666;
  }